<div
  class="container-fluid d-flex justify-content-center align-items-center min-vh-100 login-container"
>
  <div class="form col-sm-4">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
      <div>
        <img src="assets/icon.png" alt="" style="width: 50px; height: 50px" />
      </div>
      <h4 class="text-header">BÁCH HÓA XANH</h4>
    </div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
        <input
          type="number"
          class="form-control"
          id="phoneNum"
          name="phoneNum"
          (keydown)="validateInput($event)"
          [(ngModel)]="phoneNum"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="exampleInputPassword1"
          [(ngModel)]="password"
        />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-green" (click)="login()">Đăng nhập</button>
      </div>
    </form>
  </div>
</div>
<p-toast />
