<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-8">
      <div class="d-flex w-100 justify-content-between gap-1">
        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-search"></i>
          </p-inputgroup-addon>
          <input pInputText placeholder="Tìm kiếm sản phẩm" style="width: 100%" />
        </p-inputgroup>
        <button>
          <i class="pi pi-camera"></i>
          Quét mã sản phẩm
        </button>
      </div>
      <div class="cards">a</div>
    </div>
    <div class="col-sm-4">
      <p-panel>
        <h4>Giỏ hàng</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </p-panel>
    </div>
  </div>
</div>
