<div
  class="container-fluid d-flex justify-content-center align-items-center min-vh-100 login-container"
>
  <div class="form col-sm-4">
    <div class="d-flex flex-column justify-content-center align-items-center mb-5">
      <div>
        <img src="assets/icon.png" alt="" style="width: 50px; height: 50px" />
      </div>
      <h4 class="text-header">BÁCH HÓA XANH</h4>
    </div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Số điện thoại</label>
        <input type="number" class="form-control" id="exampleInputNumber" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="exampleInputPassword1" />
      </div>
      <div class="mb-5 d-flex gap-2 align-items-center">
        <input type="checkbox" class="check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Nhớ mật khẩu</label>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-green">Đăng nhập</button>
      </div>
    </form>
  </div>
</div>
