@import 'styles/_variables';

.btn-green {
  background-color: #05bb4e;
  color: white;
  &:hover {
    background-color: #00a63e;
    color: white;
  }
}
.label {
  font-weight: bold;
  font-size: 16px;
}
